@page
@model CuidadoPorcino.App.Frontend.Pages.VeterinarioModel
@{
}
<h1>Cerdos</h1>
<hr>

<div>
    <form>
        <h3>Registro de Cerdos</h3>
        <br>
        <label>Id Cerdo: </label>
        <input type="text">
        <br>
        <br>
        <label>Nombre: </label>
        <input type="text">
        <br>
        <br>
        <label>Color: </label>
        <input type="text">
        <br>
        <br>
        <label>Especie: </label>
        <input type="text">
        <br>
        <br>
        <label>Raza: </label>
        <input type="text">
        <br>
        <br>
        <label>Id Propietario:</label>
        <input type="text">
        <br>
        <br>
        <label>Codigo Veterinario: </label>
        <input type="text">
        <br>
        <br>  
                
        <input type="submit" value="Guardar" style="margin right:10px;"> 
        <input type="submit" value="Editar" style="margin:10px;">
        <input type="submit" value="Eliminar" style="margin:10px;">
        <input type="submit" value="Consultar" style="margin:10px;">
        <br>
        <br>
        <a href="/Index">Regresar</a>      
        
    </form>

</div>