@page
@model CuidadoPorcino.App.Frontend.Pages.ControlSignosModel
@{
}
<h1>Control de Signos</h1>
<hr>

<div>
    <form>
        <h3>Id Contro Signos:        </h3>
        <br>
        <label>Id Cerdo:         </label>
        <input type="text">
        <br>
        <br>
        <label>Temperatura: </label>
        <input type="text">
        <br>
        <br>
        <label>Peso: </label>
        <input type="text">
        <br>
        <br>
        <label>Frecuencia Respiratoria: </label>
        <input type="text">
        <br>
        <br>
        <label>Frecuencia Cardiaca: </label>
        <input type="text">
        <br>
        <br>
        <label>Estado de Animo: </label>
        <input type="text">
        <br>
        <br>
        <label>Descripción - Recomendación: </label>
        <input type="text">
        <br>
        <br>
        <label>Formulación Medicamentos: </label>
        <input type="text">
        <br>
        <br>
        <label>Fecha Visita: </label>
        <input type="text">
        <br>
        <br>
        <label>Id Historia Clínica:</label>
        <input type="text">
        <br>
        <br>
        dotne  
                
        <input type="submit" value="Guardar" style="margin right:10px;"> 
        <input type="submit" value="Editar" style="margin:10px;">
        <input type="submit" value="Eliminar" style="margin:10px;">
        <input type="submit" value="Consultar" style="margin:10px;">
        <br>
        <br>
        <a href="/Index">Regresar</a>      
        
    </form>

</div>