@page
@model CuidadoPorcino.App.Frontend.Pages.PropietarioModel
@{
}
<h1>Propietarios</h1>
<hr>

<div>
    <form>
        <h3>Registro de propietario</h3>
        <br>
        <label>Nombre</label>
        <input type="text">
        <br>
        <label>Apellido</label>
        <input type="text">
        <br>
        <label>Dirección</label>
        <input type="text">
        <br>
        <label>Teléfono</label>
        <input type="text">
        <br>
        <label>Correo electrónico</label>
        <input type="text">
        <br>
        <br>  
        <input type="submit" value="Guardar" style="margin right:10px;"> 
        <input type="submit" value="Editar" style="margin:10px;">
        <input type="submit" value="Eliminar" style="margin:10px;">
        <input type="submit" value="Consultar" style="margin:10px;">
        <br>
        <br>
        <a href="/Index">Regresar</a>      
        
        
    </form>


</div>