@page
@model CuidadoPorcino.App.Frontend.Pages.VeterinarioModel
@{
}
<h1>Veterinarios</h1>
<hr>

<div>
    <form>
        <h3>Registro de veterinarios</h3>
        <br>
        <label>Código</label>
        <input type="text">
        <br>
        <br>
        <label>Tarjeta Profesional</label>
        <input type="text">
        <br>
        <br>  
        
        <input type="submit" value="Guardar" style="margin right:10px;"> 
        <input type="submit" value="Editar" style="margin:10px;">
        <input type="submit" value="Eliminar" style="margin:10px;">
        <input type="submit" value="Consultar" style="margin:10px;">
        <br>
        <br>
        <a href="/Index">Regresar</a>      
        
        
    </form>


</div>