@page
@model CuidadoPorcino.App.Frontend.Pages.VeterinarioModel
@{
}
<h1 class="texto" id="texto1">Veterinarios</h1>
<hr>

<div >
    <form class="Formulario"id="formulario1">
        <h3>Registro de veterinario</h3>
        <br>
        <br>
        <label>Nombre:</label>
        <input type="text">
        <br>
        <br>
        <label>Apellidos:</label>
        <input type="text">
        <br>
        <br>
        <label>Dirección:</label>
        <input type="text" style='text-align:right'>
        <br>
        <br>
        <label>Teléfono:</label>
        <input type="text">
        <br>
        <br>
        <label>Tarjeta Profesional:</label>
        <input type="text">
        <br>
        <br>
        <input type="submit" value="Guardar" style="margin:10px;">
        <input type="submit" value="Editar" style="margin:10px;">
        <input type="submit" value="Eliminar" style="margin:10px;">
        <input type="submit" value="Consultar" style="margin:10px;">
        <br>
        <br>
        <a href="/Index">Regresar</a>


    </form>


</div>